@charset "utf-8";
/* CSS Document */

*{padding : 0; margin:0; box-sizing: border-box;}

#account li{list-style : none; float: left; }
nav ul {margin-left : -40px;}
nav li{background-color:blue; list-style: none; float: left; width:19.7%; margin-left: 0.3%; height: 50px;}

#bottom ul{margin-left : -0.5%}
#bottom li {width : 49.5%; background-color: aqua; float: left; list-style: none; border: 1px solid black; margin-left:0.5%;}